<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>
    <%= @place["name"] %>
  </h1>

  <br>
  <% if !@entries.empty? %>
    <% for entry in @entries %> 
        <ul>
        <p><h3> <%= entry["title"]%>  </h2></p>          
        <p><h5> <%= entry["posted_on"]%> </h5></p>
        <p> <%= entry["description"]%> </p>
        </ul><br>       
    <% end %>
  <% else %>
    <p>No posts yet!</p>
  <% end %>

  <p>
    <br>
    <a href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
  </p> 

  <p>
    <br>
    <a href="/places">Back to all Places</a>
  </p> 

</body>

</html>



